wheel    
altair
asgiref
asyncio
attrs
autopep8
bcrypt
bidict
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
distlib
docopt
elastic-transport
elasticsearch
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-MySQLdb
Flask-SocketIO
Flask-SQLAlchemy
flask-themer
fonttools
geographiclib
gitdb
GitPython
greenlet
h11
idna-metadata
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mysql-connector-python
mysqlclient
narwhals
numpy
packaging
phonenumbers
pillow
platformdirs
plotly
prompt-toolkit
protobuf
py-mon
pyarrow
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
pyOpenSSL
pyparsing
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
pyvmomi.0.1
referencing
requests
rpds-py
seaborn
simple-websocket
six
smmap
SQLAlchemy
streamlit
tenacity
toml
tornado
typing_extensions
urllib3
virtualenv
watchdog
wcwidth
Werkzeug
wsproto
zipp